ray[default]
azure-storage-blob
opencv-python
ffmpeg-python
pydub
scenedetect
torch
transformers
librosa
numpy
pyyaml


#deepface
deepface
tensorflow>=2.5.0
keras>=2.5.0
tf-keras

#insightface
insightface>=0.7
onnxruntime  # Required if using CPU

