ray[default]
azure-storage-blob
opencv-python>=4.5.0
ffmpeg-python
pydub
scenedetect
torch
torchcodec
torchvision
transformers>=4.51.3
librosa
numpy
pyyaml
deepface
tf-keras
pillow
onnxruntime-gpu
accelerate
pydantic
qwen-vl-utils
rich
vllm
ultralytics>=8.0.0
pyannote-audio
faster-whisper
presidio-analyzer
torchaudio
soundfile
insightface
nudenet
label_studio_sdk